body{
    background-color: rgba(218, 45, 45, 0.849);
    background-repeat: no-repeat;
    background-size: cover;
    }
    h1{
        text-align: center;
        color: rgb(255, 255, 255);
        font-size: 50px;
        }
        .botao{
            background-color: rgb(234, 234, 234);
            color: rgba(151, 151, 151, 0.808);
            border: none;
            text-align: center;
            padding: 10px 20px;
            display: inline-block;
            cursor: pointer;
        }