body, h1, h2, h3, p, ul, li, a {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

nav ul {
    list-style-type: none;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

#destaques {
    margin: 20px;
}

.livro {
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px;
    float: left;
    width: 30%;
}

.livro img {
    max-width: 100%;
}

#categorias {
    margin: 20px;
}

#categorias ul {
    list-style-type: none;
}

#categorias ul li {
    margin-bottom: 10px;
}

#categorias ul li a {
    text-decoration: none;
    color: #333;
}

#sobre-nos {
    margin: 20px;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
}

a {
    color: #007BFF;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
